---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import LayoutWithHighlight from "../../layouts/LayoutWithHighlight.astro";
import BlogHeroImage from "../../components/BlogHeroImage.astro";
const posts = (await getCollection("blog"))
	.filter((post) => !post.data.draft)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<LayoutWithHighlight title="Hum Sub - Blog">
	<section class="p-4 mx-auto">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
			{
				posts.map((post) => (
					<div class="card blog-post w-full md:w-[2/3] bg-base-100 w-96 shadow-sm">
						<figure>
							<BlogHeroImage
								name={post.data.title}
								imagePath={post.data.heroImage ?? ""}
								href={`/blog/${post.id}/`}
								description={post.data.description}
							/>
						</figure>
						<div class="card-body">
							<h2 class="card-title">
								<a
									href={`/blog/${post.id}/`}
									title={post.data.title}
								>
									{post.data.title}
								</a>
							</h2>
							<span class="date">
								Published:{" "}
								<FormattedDate date={post.data.pubDate} />
							</span>
							<div>
								{post.data.description} <br />
							</div>
						</div>
					</div>
				))
			}
		</div>
	</section>
</LayoutWithHighlight>
