---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
	name: string;
	href?: string;
	description?: string;
	imagePath: string;
}

const { name, href, description, imagePath } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/**");
if (!images[imagePath])
	throw new Error(
		`"${imagePath}" does not exist in glob: "src/assets/**.{jpeg,jpg,png,gif}"`,
	);
---

<div
    class="w-full md:w-[2/3] bg-base-100 shadow-sm flex flex-col justify-center place-items-center"
>
    <figure class="mb-2 p-4">
        {
            href ? (
                <a href={href} target="_blank">
                    <Image
                        src={images[imagePath]()}
                        alt={name}
                        layout="responsive"
                        widths={[400, 600, 900]}
                        fit="contain"
                        width={600}
                        height={400}
                    />
                </a>
            ) : (
                <Image
                    src={images[imagePath]()}
                    alt={name}
                    layout="responsive"
                    widths={[400, 600, 900]}
                    fit="contain"
                    width={600}
                    height={400}
                />
            )
        }
    </figure>
    <div class="mt-0">
        <h2 class="text-xl text-center justify-center mt-0 mb-2">{name}</h2>
        <p class="text-center italic px-2">{description}</p>
    </div>
</div>
