---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
	name: string;
	href?: string;
	description?: string;
	imagePath: string;
}

const { name, href, description, imagePath } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/**");
if (!images[imagePath])
	throw new Error(
		`"${imagePath}" does not exist in glob: "src/assets/**.{jpeg,jpg,png,gif}"`,
	);
---

<div class="card card-sm bg-base-100 shadow-sm">
    <figure class="mb-2 p-4">
        {
            href ? (
                <a href={href} target="_blank">
                    <Image
                        src={images[imagePath]()}
                        alt={name}
                        layout="responsive"
                        class="h-auto max-w-64 max-h-96 rounded-lg object-contain"
                    />
                </a>
            ) : (
                <Image
                    src={images[imagePath]()}
                    alt={name}
                    layout="responsive"
                    class="w-full h-auto max-h-96 rounded-lg object-contain"
                />
            )
        }
    </figure>
    <div class="card-body2 mt-0">
        <h2 class="text-xl text-center justify-center mt-0 mb-2">{name}</h2>
        <p class="text-center">{description}</p>
    </div>
</div>
